[submodule "depends/jinja-importprops"]
	path = depends/jinja-importprops
	url = https://github.com/hylom/jinja-importprops
[submodule "depends/depends"]
	path = depends/tyconf
	url = https://github.com/hylom/tyconf
